.image_wrapper {
    position: relative;
    height: 600px;
    background-color: black;
  }
.transparent-background {
  background: transparent !important;
}
.home-paper {
  margin-top: 110px;
}
  .image_wrapper-height100vh {
    height: 100vh;
  }
  
  .overlay {
    position: absolute; 
    left: 20px;
    top: 80px;
    color: white;
    width: -webkit-fill-available;
  }
.overlayed-image-ahmedabad {
    width: 100%;
    float: right;
    opacity: 0.3;
    height: 600px;
    object-fit: cover;
}
