
ul.our-aim-list {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -150px;
}
li.our-aim-list-element {
    position: relative;
    display: block;
    border: 1px solid hotpink;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
}
li.our-aim-list-element:nth-child(1) {
    animation-delay: 0.25s;
}
li.our-aim-list-element:nth-child(2) {
    animation-delay: 0.5s;
}
li.our-aim-list-element:nth-child(3) {
    animation-delay: 0.75s;
}
li.our-aim-list-element:nth-child(4) {
    animation-delay: 1s;
}
li.our-aim-list-element:nth-child(5) {
    animation-delay: 1.25s;
}
/* ul {
    list-style: none;
  }
  ul li::before {
    content: "";
    background-image: url('../../../Images/dg26.png');
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
    background-repeat: no-repeat;
  } */
@keyframes fadeIn {
    0% {
        opacity: 0;
        top: 100px;
   }
    75% {
        opacity: 0.5;
        top: 0px;
   }
    100% {
        opacity: 1;
   }
}

@media (max-width: 480px) {
    
}